@media only screen and (min-width: 64em){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .close_btn{
        width:10px;
        margin-top: 2%;
        z-index: 100;
        display: inline-block;
        width: 5%;
        background:rgb(223, 14, 14);
        color:#fff;
    }
    .close_btn:hover{
        background:rgb(231, 97, 97);
        color:#fff;
    }
    
    .close{
        display:none;
    }
    .open{
        display:block;
    }
    #nav{
        margin-left: 2%;
        width:35%;
        display:initial;
        margin-bottom: 10%;

        


    }
    #show_all_list{
        width:40%;
        margin-top: 2%;
        z-index: 99;

    }
    #show_all_list:hover{
        background:rgb(231, 97, 97);
        color:#fff;
        
    }
    
    
    #list{
        width: 40%;
        margin-left: 2%;
        position:absolute;
        top: 0;
        left: 0;
        margin-top: 1%;
        display:block;
        z-index: -5;
    
    }
    #student{

        list-style-type: none !important;

    }
    
    .std{
        margin-top: 12%;
        list-style-type: none !important;
        margin-bottom:2%;
        border: 1px solid rgb(216, 191, 82) !important;
        /* display: none; */
        

    
    
    }
    
    .main_search{
        width: 40%;
        height: 20%;
        float: right;
        margin-top: 1px;
        overflow: hidden;
        display: block;
        margin-right: 5%;
    
        
       
        
        
    }
    
    #input_main{
        height: 30px;
        width: 82%;
    }
    
    #search_btn{
        height: 32px;
        width: 15%;
        display: block;
        float:right;
        margin-right: 3px;
        margin-top: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;

    
        
    }
    #search_btn:hover{
        background:rgb(231, 97, 97);
        color:#fff;
        

    }
       
        
    
    #title_input{
        color: rgb(236, 83, 12);
        margin-bottom: 1%;
    }

    
}